body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
}


* {
    padding: 0;
    margin: 0;
    font-size: 12px;
}


body {
    background: #fff;
    -webkit-user-select: none;
    height: 100%;
}

canvas {
    display: block;
}